name: Update dependencies
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  golang:
    name: Bump the Golang version
    runs-on: ubuntu-latest
    permissions:
      contents: none # Permissions are set with an application token
    steps:
      - name: Gather credentials
        id: credentials
        uses: actions/create-github-app-token@a8d616148505b5069dccd32f177bb87d7f39123b # v2.1.1
        with:
          app-id: ${{ secrets.GH_APP_ID_RELEASER }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY_RELEASER }}
      - name: Checkout the repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: true
          ref: main
          token: ${{ steps.credentials.outputs.token }}
      - name: Install Golang
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: "stable"
      - name: Get the latest version
        id: version
        run: |
          LATEST=$(curl -s "https://go.dev/VERSION?m=text" | grep go)
          echo "latest=$LATEST" >> $GITHUB_OUTPUT
      - name: Bump module versions
        run: |
          sed -i "s/^go .*/go ${VERSION#go}/" go.mod
          go mod tidy
          sed -i "s/cimg\/go:.*/cimg\/go:${VERSION#go}/" .circleci/config.yml
          sed -i "s/go-version: .*/go-version: \"${VERSION#go}\"/" .github/workflows/tests.yml
        env:
          VERSION: ${{ steps.version.outputs.latest }}
      - name: Open a change request
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git checkout -b chore-bump-golang
          if git diff --quiet; then
            echo "No changes to commit, exiting."
            exit 0
          fi
          git commit --all -m "build(deps): bump golang to ${VERSION#go}"
          git push -u origin chore-bump-golang
          gh pr create --title "build(deps): bump golang to ${VERSION#go}" --body "Automatic update to the latest release of Go" --milestone "Next Release" --label "code health"
        env:
          GITHUB_TOKEN: ${{ steps.credentials.outputs.token }}
          VERSION: ${{ steps.version.outputs.latest }}
