name: Manual Trigger E2E tests in CircleCI

# configure manual trigger
on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'The branch to build'
        required: true

jobs:
  execute:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger CircleCI build-beta workflow.
        uses: promiseofcake/circleci-trigger-action@v1
        with:
          user-token: ${{ secrets.CIRCLECI_TOKEN }}
          project-slug: slackapi/slack-cli
          branch: ${{ github.event.inputs.branch }}
          payload: '{"run_local_build_test_workflow": true}'