name: Check License Headers

on:
  push:
    branches: [main]
  pull_request:
    # Since no branch is specified, this will run on all PRs

jobs:
  check-headers:
    name: Check that license headers are in place
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Check license headers
        uses: apache/skywalking-eyes@61275cc80d0798a405cb070f7d3a8aaf7cf2c2c1 # v0.8.0
        with:
          config: .licenserc.yml
