name: Lint -> Test

on:
  push:
    branches: [main]
  pull_request:
    # Since no branch is specified, this will run on all PRs
  # Repository dispatches are triggered throughout the GitHub API. This is used to run the custom integration tests using a specified API host
  # in the custom integration test job below
  repository_dispatch:
    types: [run_integration_tests]
  workflow_dispatch:

jobs:
  lint-test:
    name: Lints and Tests
    runs-on: macos-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.25.5"
      - name: Lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest
          args: --timeout=5m
      - name: Unit Tests
        run: make test
      - name: Install Tests
        run: make test-install
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.out
          fail_ci_if_error: false

  install:
    name: Install
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
          - os: windows-latest
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    steps:
      - name: Checkout the latest changes
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Attempt the installation (Unix)
        if: runner.os == 'Linux'
        shell: bash
        run: |
          set -euo pipefail
          bash ./scripts/install.sh
      - name: Attempt the installation (Windows)
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          pwsh -NoProfile -NonInteractive -File ./scripts/install-windows.ps1

  # Monitor code coverage and TODO/FIXME-type comments
  health-score:
    name: Health Score
    needs: lint-test
    runs-on: macos-latest
    permissions:
      checks: write
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.25.5"
      - name: Report health score
        uses: slackapi/slack-health-score@d58a419f15cdaff97e9aa7f09f95772830ab66f7 # v0.1.1
        with:
          extension: "go"
          codecov_token: ${{ secrets.ELAINES_CODECOV_API_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          include: "cmd internal"
